.CrearUsuario {
  background-color: hsl(203, 55%, 21%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.botC button {
   /* Estilos para el botón de agregar */
   padding: 5px 10px;
   font-size: 1em;
   background-color: #102f44;
   color: white;
   border: none;
   cursor: pointer;
   margin: 5px;
   border-radius: 5px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.botC button:hover {
  background-color: #142f4d;
}

.Pedir-container {
  margin: 20px;
}

.Pedir {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 80px; /* Ajustamos el padding para hacer el contenedor más grande */
  border-radius: 10px;
}

.Pedir label {
  display: block;
  margin-bottom: 20px; /* Aumentamos el espacio entre las etiquetas */
}

.Pedir input[type="checkbox"] {
  margin-right: 30px; /* Aumentamos el espacio entre el checkbox y el texto */
}

.Pedir input[type="checkbox"] + label {
  font-weight: bold; /* Hacemos que el texto del label sea más llamativo */
}

.Pedir input {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.Pedir input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}

.botC button.regresarBtn {
  background-color: #13485e; /* Nuevo color de fondo para el botón Editar Usuario */
}